.App {
    width: 100%;
    min-height: 80px;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-creative-gold-flash-sheet-metal-background-gold-image_15891.jpg');
    background-repeat: repeat;
}

