.panel {
    position: fixed; /* положение */
    top: 30px; /* отступ сверху */
    left: 0; /* отступ слева */
    background: red; /* цвет фона */
    width: 20px; /* ширина блока */
    height: 20px; /* высота блока */
    font: 14px Arial; /* размер и тип шрифта */
    text-align: center; /* выравнивание текста по центру */
    padding: 5px; /* отступы от границ внутри блока */

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.hidden_panel {
    position: fixed; /* положение */
    top: 30px; /* отступ сверху */
    left: -270px; /* отступ слева */
    /* background: lavender; !* цвет фона *!*/
    font: 14px Arial;
    width: 310px; /* ширина блока */
    height: 50px; /* высота блока */
    padding: 5px; /* отступы от границ внутри блока */
    text-align: left; /* выравнивание текста */

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.panel:hover {
    left: 240px; /* при наведении выдвигается на скрытые 200px + 20px отступы */
}

.panel:hover .hidden_panel {
    left: 0; /* отступ слева */
}

.nav_item {
    margin-right: 15px;
    font: 18px Arial;
    color: darkgreen;
    text-decoration: none;
}

.nav_item:hover {
    color: blueviolet;

}